/* Global styles 
------------------------------------*/

body {
  font-family: 'Open Sans', sans-serif;
}

h4 a {
    text-decoration: none;
    color: black;
}

h1, h2 {
  font-family: 'Arial', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}

h3 a {
  color: #8D99AE;
}

.study-wrap h3 a {
  color: black;
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: auto;
  padding: 55px;
  overflow: hidden;
}

.study-wrap {
  padding-bottom: 1px;
  
}

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 2%;
  min-height: 150px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 150px;
}



/* Header & Footer 
------------------------------------*/
header, 
footer {
  background: #2B2D42;
  color: #8D99AE;
}
header h1,
header h2 {
    color: #EDF2F4;
}

/* Header styles only */
.github{
  position: absolute;
  width: 2.07%;
  top: 15px;
  right: 310px;  
}
.facebook{
  position: absolute;
  width: 2%;
  top: 15px;
  right: 350px;   
}
.linkedin{
  position: absolute;
  width: 2%;
  top: 15px;
  right: 390px;   
}
.profile-img {
  /*width: 300px;*/
  border-radius: 50%;
  /*float: left;*/
  /*margin-right: 30px;*/
}

/* Footer styles only */
footer {
  text-align: center;
}

footer a{
  text-decoration: none;
  color: #8D99AE;
}

.contact-info p {
  padding: 5px;
  display: inline-block;
}

.copyright {
  position: absolute;
  font-size: 12px;
  color: #FFFF;
  right: 1%;
}


/* bio------------------------------------*/
.bio {
  
  text-align: center;
}

#PersonalText {
  max-width: 750px;
  margin: auto;
  padding: 25px;
  overflow: hidden;
}

#myProgress {
  position: relative;
  left: 43%;
  width: 15%;
  background-color: #ddd;
}

/*bars*/

#advanced {
  width: 3%;
  height: 20px;
  background-color: rgb(76, 127, 175);
  line-height: 20px;
  color: white;
}

#intermediate {
  width: 3%;
  height: 20px;
  background-color: rgb(76, 175, 97);
  line-height: 20px;
  color: white;
}

.languageBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px; /* Adjust as needed for spacing */
}

.portLang, .engLang, .frenchLang, .espLang {
    position: relative;
    max-width: 500px; /* Adjust the maximum width as needed */
    width: 100%;
    text-align: center;
}

.progress {
    width: 100%;
    background-color: #ddd;
    height: 20px; /* Adjust the height as needed */
}

.progressText {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 20px; /* Adjust to match the height of the progress bar */
    text-align: center;
    color: black; /* Adjust text color as needed */
    font-weight: bold;
}
    
#python {
  width: 3%;
  height: 20px;
  background-color: rgb(218, 214, 22);
}

#java {
  width: 3%;
  height: 20px;
  background-color: rgb(223, 124, 12);
}

#microsoft {
  width: 3%;
  height: 20px;
  background-color: rgb(84, 16, 161);
}

/*------------SKILLS-----------*/

.Skills-Content1 {
  position: relative;
  left: 40%;
}
.Skills-Content2 {
  position: relative;
  right: 40%;
}

.Skills-Content-Row {
  display: flex;
  align-content: center;
}

.Skills-Content-Column1 {
  flex: 50%;
  padding: 5px;
}

.Skills-Content-Column2 {
  flex: 50%;
  padding: 5px;

}


/*----------------------------*/


.education {
  background: #247053;
  color: black;
}

.education h2 {
  text-align: center;
}

/* work
------------------------------------*/
.work {
    background: #8D99AE;
    color: black;
}

.work h2 {
  text-align: center
}

.work .column-narrow {
  width: 30%;
  min-height: 150px;
}
.work .column-wide {
  width: 50%;
  min-height: 150px;
}



/* TABS CONTENT --------------------- */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  vertical-align: middle;
  padding: 6px 12px;
  border: 1px solid rgb(255, 255, 255);
  border-top: none;
  min-height: 180px;
}